<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.learning.listeners.TestListener"/>
</listeners>

  <test parallel="methods" thread-count="3" name="Test">
    <classes>
     <class name="com.learning.testcases.LoginHRMTest"/>
     <class name="com.learning.testcases.LoginHRMSecondTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
